# Coverage testing files.
.coverage
/htmlcov

# SQLite database file.
*.sqlite3

# Environment configuration file.
.env

# Virtual environment files (pipenv may use this convention).
.venv

# Docker deployment files.
docker-compose.yml

# IDE configuration files.
/.idea

# Node development dependencies.
/node_modules

# Python files.
*.pyc

# App static file folders.
/*/static

# Django media root folder.
/media
