# Coverage testing files.
.coverage
/htmlcov

# SQLite database file.
*.sqlite3

# Environment files.
.env
docker.env

# IDE configuration files.
/.idea

# Node development dependencies.
/node_modules

# Python files.
*.pyc

# App static file folders.
/*/static

# Django media root folder.
/media
