[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
boto3 = "*"
dj-database-url = "*"
django = ">=4.0.6"
django-axes = "*"
django-filter = "*"
django-imagekit = "*"
django-import-export = "*"
django-storages = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
faker = "*"
gunicorn = "*"
pillow = "*"
plotly = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pyyaml = "*"
uritemplate = "*"
whitenoise = "*"
django-taggit = "*"

[dev-packages]
coveralls = "*"
ipaddress = "*"
mkdocs = "*"
mkdocs-material = "*"
tblib = "*"
black = "*"
