[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
boto3 = "*"
dj-database-url = "*"
django = "*"
django-axes = "*"
django-filter = "*"
django-import-export = "*"
django-storages = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
easy-thumbnails = "*"
faker = "*"
gunicorn = "*"
plotly = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pyyaml = "*"
uritemplate = "*"
whitenoise = "*"

[dev-packages]
coveralls = "*"
flake8 = "*"
ipaddress = "*"
tblib = "*"
