[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
boto3 = "*"
dj-database-url = "*"
django = "~=5.1.1"
django-axes = "*"
django-filter = "*"
django-imagekit = "*"
django-storages = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
faker = "*"
gunicorn = "*"
pillow = "*"
plotly = "~=5.24"
psycopg2-binary = "*"
python-dotenv = "*"
pyyaml = "*"
uritemplate = "*"
whitenoise = "*"
django-taggit = "*"
django-qr-code = "*"
django-cors-headers = "*"
django-dbsettings = "*"
django-import-export = "*"
inflection = "*"

[dev-packages]
coveralls = "*"
ipaddress = "*"
mkdocs = "*"
mkdocs-material = "*"
tblib = "*"
black = "*"
djlint = "*"
pysnooper = "*"
