{% extends "registration/base.html" %}
{% load static widget_tweaks %}

{% block title %}Forgot Password{% endblock %}
{% block content %}

    <div class="text-center mb-4">
        <p class="mb-0">Enter your account email address in the form below. If
        the address is valid, you will receive instructions for resetting your
        password.</p>
    </div>

    <form method="post">
        {% csrf_token %}

        <label class="sr-only" for="email-input-group">
            {{ form.email.label }}
        </label>
        <div class="input-group mb-3 fade-in">
            <div class="input-group-addon">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            {% render_field form.email name='email' class+='form-control' id='email-input-group' placeholder=form.email.label %}
        </div>

        <button class="btn btn-primary w-100 fade-in" type="submit" name="reset">
            Reset Password
        </button>
    </form>

{% endblock %}