{% extends "registration/base.html" %}
{% load static widget_tweaks %}

{% block title %}Password Reset{% endblock %}
{% block content %}

    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-danger">
                <p class="mb-0"><strong>Oh snap!</strong> The two passwords
                    did not match. Please try again.</p>
            </div>
        {% endif %}

        <div class="text-center mb-4">
            <p class="mb-0">Enter your new password in each field below.</p>
        </div>

        <label class="sr-only" for="password1-input-group">
            {{ form.new_password1.label }}
        </label>
        <div class="input-group mb-3 fade-in">
            <div class="input-group-addon">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            {% render_field form.new_password1 name='new_password1' class+='form-control' id='password1-input-group' %}
        </div>


        <label class="sr-only" for="password2-input-group">
            {{ form.new_password2.label }}
        </label>
        <div class="input-group mb-3 fade-in">
            <div class="input-group-addon">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            {% render_field form.new_password2 name='new_password2' class+='form-control' id='password2-input-group' %}
        </div>

        <button class="btn btn-primary w-100 fade-in" type="submit" name="reset">
            Reset Password
        </button>
    </form>

{% endblock %}