option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: babybuddy.settings.eb
    SECRET_KEY: CHANGETOSOMETHINGRANDOM
    TIME_ZONE: Etc/UTC
  aws:elasticbeanstalk:container:python:staticfiles:
    '/static/': 'static/'
  aws:elasticbeanstalk:container:python:
    WSGIPath: babybuddy/wsgi.py

container_commands:
  01_pipenv_install:
    command: 'pip install pipenv'
  03_requirements_lock:
    env:
      LC_ALL: en_US.utf8
      LANG: en_US.utf8
    command: 'pipenv lock'
  03_requirements_install:
    env:
      LC_ALL: en_US.utf8
      LANG: en_US.utf8
    command: 'pipenv install --system --deploy'
  04_migrate:
    command: "python manage.py migrate"
    leader_only: true
  05_createcachetable:
    command: "python manage.py createcachetable"
    leader_only: true
