{% extends "registration/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Reset Email Sent" %}
{% endblock %}
{% block content %}
    <div class="text-center mb-0">
        <p>
            {% blocktrans trimmed %}
                We've emailed you instructions for setting your
                password, if an account exists with the email you entered. You
                should receive them shortly.
            {% endblocktrans %}
        </p>
        <p class="mb-0">
            {% blocktrans trimmed %}
                If you don't receive an email, please make sure you've entered the
                address you registered with, and check your spam folder.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
