// Blue Orange theme variables.

//
// Color system
//

$blue: #226f97;
$indigo: #472395;
$purple: #712395;
$pink: #952393;
$red: #a72431;
$orange: #ff8f00;
$yellow: #ffbe42;
$green: #239556;
$teal: #5abccc;
$cyan: #15b2d3;

$theme-colors: (
    primary: $blue,
    secondary: $orange,
    success: $green,
    info: $cyan,
    debug: $cyan,
    warning: $yellow,
    danger: $red,
    error: $red,
    light: $gray-100,
    dark: $gray-800
);


// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-900;
$body-color: $gray-400;


// Links
//
// Style anchor elements.

$link-color: theme-color('info');
$link-hover-color: darken($link-color, 15%);


// Components
//
// Define common padding and border radius sizes and more.

$border-color: $gray-200;
$component-active-color: $gray-400;
$component-active-bg: theme-color('primary');


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$text-muted: $gray-600 !default;
$blockquote-small-color: $gray-600 !default;
$hr-border-color: rgba($black, .1) !default;
$mark-bg: #fcf8e3 !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-border-color: $gray-800;
$table-color: $body-color;
$table-head-bg: theme-color('primary');
$table-hover-color: $body-color;
$table-inverse-bg: theme-color('primary');
$table-accent-bg: rgba(theme-color('primary'), .1);

// Forms

$input-bg: $white;
$input-disabled-bg: $gray-600;
$input-color: $black;
$input-border-color: rgba($gray-600, .15);
$input-group-addon-bg: $gray-500;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-bg: $gray-700;
$dropdown-divider-bg: $gray-800;
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: darken($body-color, 5%);
$dropdown-link-hover-bg: theme-color('primary');
$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $component-active-bg;
$dropdown-header-color: darken($body-color, 25%);


// Pagination

$pagination-color: $link-color;
$pagination-bg: theme-color('dark');
$pagination-border-color: lighten(theme-color('dark'), 5%);

$pagination-hover-color: $link-hover-color;
$pagination-hover-bg: $gray-900;
$pagination-hover-border-color: $gray-800;

$pagination-active-color: $body-color;
$pagination-active-bg: theme-color('primary');
$pagination-active-border-color: theme-color('primary');

$pagination-disabled-color: $gray-600;
$pagination-disabled-bg: $pagination-bg;
$pagination-disabled-border-color: $pagination-border-color;


// Jumbotron

$jumbotron-bg: theme-color('dark');


// Cards

$card-bg: theme-color('dark');
$card-cap-bg: rgba(theme-color('light'), .05);


// Progress bars

$progress-bg: $gray-600;


// List group

$list-group-bg: theme-color('dark');
$list-group-hover-bg: darken($list-group-bg, 5%);
$list-group-active-color: $component-active-color !default;
$list-group-active-bg: $component-active-bg !default;
$list-group-active-border-color: $list-group-active-bg !default;
$list-group-action-color: $gray-400;
$list-group-action-hover-color: $list-group-action-color;


// Breadcrumbs

$breadcrumb-bg:                     none;
$breadcrumb-active-color:           $gray-600;


// Datetimepicker library (Tempus Dominus)

$bs-datetimepicker-btn-hover-bg: $gray-800;
