// Baby Buddy site-wide custom styles.

// Temporary workaround. See: https://github.com/twbs/bootstrap/issues/23553
.dropdown-menu-right {
    right: 0;
    left: auto; // Reset the default from `.dropdown-menu`
}

// Temporary workaround. See: https://github.com/tempusdominus/bootstrap-4/issues/18
.bootstrap-datetimepicker-widget.dropdown-menu {
    width: auto; // Reset the default
}
