@use 'sass:map';

// Baby Buddy form style customizations.

// BB form fields do not follow typical BS4 style that enables this display.
.invalid-feedback {
    display: block;
}

// Disable hover effect on buttons (used for checkbox buttons).
.btn-no-hover {
    &:hover {
        color: inherit;
        background-color: inherit;
        border-color: inherit;
    }
}

.boolean-label {
    pointer-events: none;
}

// Use a full width, fixed button on smaller screens.
.submit-primary {
    display: block;
    border-radius: 0;
    width: 100%;
    padding: 1rem;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

// Tweak padding on form field help blocks.
.help-block {
    ul {
        padding-left: 1rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@include media-breakpoint-up(md) {
    // Restore regular inline button on larger screens.
    .submit-primary {
        display: inline-block;
        border-radius: $btn-border-radius;
        width: auto;
        padding: 0.25rem 0.5rem;
        position: relative;
    }
}