// Baby Buddy site-wide custom styles.

// Remove extra margin below site breadcrumb.
.breadcrumb {
    margin-bottom: 0;
}

// Extra-small button.
.btn-xs {
    @include button-size(.2rem, .12rem, .75rem, 1, .2rem);
}

// Right align main dropdown menu.
.dropdown-menu-right {
    right: 0;
    left: auto; // Reset the default from `.dropdown-menu`
}

// PullToRefresh elements.
.ptr--ptr {
    background: theme-color('dark');
    .ptr--text, .ptr--icon {
        // "!important" must be used to override inline styling from JS.
        color: theme-color('light') !important;
    }
}

// Basic table of model instances.
.table-instances {
    tr {
        td, th {
            vertical-align: middle;
        }

        &.odd {
            background: $table-accent-bg;
        }
        &.even {
            background: none;
        }
        &.row-details {
            td {
                color: $gray-500;
                padding-top: 0;
                border-top: 0;
            }
        }
    }
}

// Larger icon variant.
.icon-2x {
    font-size: 1.65em;
}
