@import '../../../node_modules/font-awesome/scss/font-awesome';

.icon {
    @extend .fa;
}

.icon-2x {
    @extend .fa-2x;
}

.icon-activities {
    @extend .fa-cubes;
}

.icon-add {
    @extend .fa-plus;
}

.icon-camera {
    @extend .fa-camera;
}

.icon-chat {
    @extend .fa-users;
}

.icon-chevron-left {
    @extend .fa-chevron-left;
}

.icon-chevron-right {
    @extend .fa-chevron-right;
}

.icon-child {
    @extend .fa-child;
}

.icon-dashboard {
    @extend .fa-tachometer;
}

.icon-delete {
    @extend .fa-trash-o;
}

.icon-diaperchange {
    @extend .fa-trash;
}

.icon-envelope {
    @extend .fa-envelope;
}

.icon-false {
    @extend .fa-times-circle-o;
}

.icon-feeding {
    @extend .fa-spoon;
}

.icon-graph {
    @extend .fa-bar-chart-o;
}

.icon-list {
    @extend .fa-list;
}

.icon-lock {
    @extend .fa-lock;
}

.icon-note {
    @extend .fa-sticky-note;
}

.icon-refresh {
    @extend .fa-refresh;
}

.icon-sad {
    @extend .fa-frown-o;
}

.icon-sleep {
    @extend .fa-bed;
}

.icon-source {
    @extend .fa-code-fork;
}

.icon-stop {
    @extend .fa-stop;
}

.icon-temperature {
    @extend .fa-thermometer-three-quarters;
}

.icon-timer {
    @extend .fa-clock-o;
}

.icon-true {
    @extend .fa-check-circle-o;
}

.icon-tummytime {
    @extend .fa-smile-o;
}

.icon-update {
    @extend .fa-pencil;
}

.icon-user {
    @extend .fa-user;
}

.icon-weight {
    @extend .fa-balance-scale;
}
