.card-body__primary-details {
  display: flex;
  justify-content: space-between;
}

.card-body__secondary-details {
  display: flex;
}

.card-body__secondary-details--anchor-left {
  flex-grow: 1
}

.card-body__secondary-details--anchor-right {
  flex-grow: 0
}

.mobile-list {
  display:none;
}

.mobile-list > .row {
    padding: 10px;
}

.card_body__avatar-layout {
  display: flex;
}

// create equal spacing around the image
.avatar-layout__avatar {
    margin-right: calc(var(--bs-card-spacer-x) + calc(var(--bs-gutter-x) * 0.5));
    display: flex;
    align-items: center;
}

.avatar-layout__details {
  flex-grow: 1;
}

@include media-breakpoint-down(md) {
.mobile-list {
    display: block;
  }

  .mobile-list + .table-responsive {
    display: none;
  }

}