{% load widget_tweaks %}

<label for="id_{{ field.name }}" class="col-sm-2 col-form-label">
    {% if field|field_type != "booleanfield" %}
        {{ field.label }}
    {% endif %}
</label>
<div class="col-sm-10">
    {% if field|field_type == "booleanfield" %}
        <div class="form-check">
            <label for="id_{{ field.name }}" class="form-check-label"></label>
            {% if field.errors %}
                {{ field|add_class:"form-check-input is-invalid" }}
            {% else %}
                {{ field|add_class:"form-check-input" }}
            {% endif %}
            {{ field.label }}
        </div>
    {% elif field|field_type == "datetimefield" or field|field_type == "datefield" %}
        <div class="form-group">
            <div class="input-group date" id="datetimepicker_{{ field.name }}" data-target-input="nearest">
                <div class="input-group-prepend" data-target="#datetimepicker_{{ field.name }}" data-toggle="datetimepicker">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                {% if field.errors %}
                    {{ field|add_class:"form-control is-invalid" }}
                {% else %}
                    {{ field|add_class:"form-control" }}
                {% endif %}
            </div>
        </div>
    {% else %}
        {% if field.errors %}
            {{ field|add_class:"form-control is-invalid" }}
        {% else %}
            {{ field|add_class:"form-control" }}
        {% endif %}
    {% endif %}
    {% if field.help_text %}
        <div class="help-block"><small>{{ field.help_text }}</small></div>
    {% endif %}
    {% if field.errors %}
        <div class="invalid-feedback">{% for error in  field.errors %}{{ error }}{% endfor %}</div>
    {% endif %}
</div>