{% load i18n widget_tweaks %}

{# Load any form-javascript files #}
{{ form.media.js }}
<div class="container-fluid pb-5">
    <form role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {{ field.widget }}
            <div class="row">
                {% include 'babybuddy/form_field.html' %}
            </div>
        {% endfor %}
        <button type="submit" class="submit-primary btn btn-primary btn-lg">{% trans "Submit" %}</button>
    </form>
</div>
