{% extends 'babybuddy/page.html' %}

{% block title %}
    {% if object %}
        {{ object }}
    {% else %}
        Create User
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'babybuddy:user-list' %}">Users</a></li>
    {% if object %}
        <li class="breadcrumb-item font-weight-bold">{{ object }}</li>
        <li class="breadcrumb-item active" aria-current="page">Update</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">Create User</li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        <h1>Update <span class="text-info">{{ object }}</span></h1>
    {% else %}
        <h1>Create User</h1>
    {% endif %}
    {% include 'babybuddy/form.html' %}
{% endblock %}
