@use 'sass:map';

#timer-status {
    font-size: $h1-font-size;
    font-weight: $display-font-weight;

    &.timer-stopped {
        color: map.get($theme-colors, 'dark');
    }
}

@include media-breakpoint-up(sm) {
    #view-core\:timer-detail {
        #timer-status {
            font-size: map.get($display-font-sizes, '1');
        }
    }
}
