{% extends 'babybuddy/page.html' %}
{% load i18n %}
{% block title %}
    {% if request.resolver_match.url_name == 'activitytype-update' %}
        {% trans "Update an Activity Type" %}
    {% else %}
        {% trans "Add an Activity Type" %}
    {% endif %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:activitytype-list' %}">{% trans "Activity Types" %}</a>
    </li>
    {% if object %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "Update" %}</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "Add" %}</li>
    {% endif %}
{% endblock %}
{% block content %}
    {% if object %}
        <h1>
            {% trans "Update" %} <span class="text-info">{{ object }}</span>
        </h1>
    {% else %}
        <h1>{% trans "Add an Activity Type" %}</h1>
    {% endif %}
    {% include 'babybuddy/form.html' %}
{% endblock %}
