{% extends 'babybuddy/page.html' %}
{% load i18n widget_tweaks %}

{% block title %}{% trans "BMI" %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "BMI" %}</li>
{% endblock %}

{% block content %}
    <h1>
        {% trans "BMI" %}
        {% if perms.core.add_bmi %}
            <a href="{% url 'core:bmi-add' %}" class="btn btn-sm btn-success">
                <i class="icon-bmi" aria-hidden="true"></i> {% trans "Add BMI" %}
            </a>
        {% endif %}
    </h1>
    {% include 'babybuddy/filter.html' %}
    <div class="table-responsive">
        <table class="table table-instances">
            <thead class="thead-inverse">
                <tr>
                    <th>{% trans "Actions" %}</th>
                    <th>{% trans "Date" %}</th>
                    {% if not unique_child %}
                        <th>{% trans "Child" %}</th>
                    {% endif %}
                    <th>{% trans "BMI" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for bmi in object_list %}
                    {% cycle "odd" "even" as row_class silent %}
                    <tr class="{{ row_class }}">
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="{% trans "Actions" %}">

                                {% if perms.core.change_bmi %}
                                    <a href="{% url 'core:bmi-update' bmi.id %}" class="btn btn-primary">
                                        <i class="icon-update" aria-hidden="true"></i>
                                    </a>
                                {% endif %}

                                {% if perms.core.delete_bmi %}
                                    <a href="{% url 'core:bmi-delete' bmi.id %}" class="btn btn-danger">
                                        <i class="icon-delete" aria-hidden="true"></i>
                                    </a>
                                {% endif %}

                            </div>
                        </td>
                        <th scope="row">{{ bmi.date }}</th>
                        {% if not unique_child %}
                            <td><a href="{% url 'core:child' bmi.child.slug %}">{{ bmi.child }}</a></td>
                        {% endif %}
                        <td>{{ bmi.bmi }}</td>
                    </tr>
                    {% if bmi.notes %}
                        <tr class="{{ row_class }} row-details">
                            <td colspan="4"><i class="icon-note mr-2" aria-hidden="true"></i>{{ bmi.notes }}</td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                        <th colspan="4">{% trans "No bmi entries found." %}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'babybuddy/paginator.html' %}
{% endblock %}