{% extends 'babyblotter/page.html' %}
{% load widget_tweaks %}

{% block title %}Delete a Child{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'child-list' %}">Children</a></li>
    <li class="breadcrumb-item font-weight-bold"><a href="{% url 'child' object.slug %}">{{ object }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete</li>
{% endblock %}

{% block content %}
    <form role="form" method="post">
        {% csrf_token %}
        <h1>Are you sure you want to delete <span class="text-info">{{ object }}</span>?</h1>
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a href="{% url 'child-list' %}" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}