{% extends 'babybuddy/page.html' %}
{% load static %}

{% block title %}{{ object }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'child-list' %}">Children</a></li>
    <li class="breadcrumb-item font-weight-bold">{{ object }}</li>
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <img src="{% static 'babybuddy/img/core/child-placeholder.png' %}" class="child-photo img-fluid rounded-circle" />
        <div class="child-name display-4">{{ object }}</div>
        <p class="lead">
            Born <span class="text-secondary">{{ object.birth_date }}</span><br/>
            Age <span class="text-secondary">{{ object.birth_date|timesince }}</span>
        </p>
        {% include 'dashboard/child_button_group.html' %}
    </div>
{% endblock %}