{% extends 'babybuddy/page.html' %}
{% load widget_tweaks %}

{% block title %}Children{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Children</li>
{% endblock %}

{% block content %}
    <h1>Children</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birth Date</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for child in object_list %}
                    <tr>
                        <th scope="row"><a href="{% url 'child' child.slug %}">{{ child.first_name }}</a></th>
                        <td>{{ child.last_name }}</td>
                        <td>{{ child.birth_date }}</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Actions">

                                {% if perms.core.change_child %}
                                    <a href="{% url 'child-update' child.slug %}" class="btn btn-warning">
                                        <i class="icon icon-update" aria-hidden="true"></i>
                                    </a>
                                {% endif %}

                                {% if perms.core.delete_child %}
                                    <a href="{% url 'child-delete' child.slug %}" class="btn btn-danger">
                                        <i class="icon icon-delete" aria-hidden="true"></i>
                                    </a>
                                {% endif %}

                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <th colspan="4">No children found.</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'babybuddy/paginator.html' %}
    </div>

    {% if perms.core.add_child %}
        <a href="{% url 'child-add' %}" class="btn btn-sm btn-success">
            <i class="icon icon-child" aria-hidden="true"></i> Add a Child
        </a>
    {% endif %}

{% endblock %}