{% extends 'babyblotter/page.html' %}

{% block title %}
    {% if request.resolver_match.url_name == 'diaperchange-update' %}
        Update a Diaper Change
    {% else %}
        Add a Diaper Change
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        <h1>Update <span class="text-info">{{ object }}</span></h1>
    {% else %}
        <h1>Add a Diaper Change</h1>
    {% endif %}
    {% include 'babyblotter/form.html' %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function () {
            $('#id_time').datetimepicker({
                defaultDate: 'now',
                format: 'YYYY-MM-DD HH:mm'
            });
        });
    </script>
{% endblock %}