{% extends 'babybuddy/page.html' %}
{% load datetime i18n %}
{% block title %}
    {% if request.resolver_match.url_name == 'diaperchange-update' %}
        {% trans "Update a Diaper Change" %}
    {% else %}
        {% trans "Add a Diaper Change" %}
    {% endif %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:diaperchange-list' %}">{% trans "Diaper Changes" %}</a>
    </li>
    {% if object %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "Update" %}</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "Add" %}</li>
    {% endif %}
{% endblock %}
{% block content %}
    {% if object %}
        <h1>
            {% trans Update %} <span class="text-info">{{ object }}</span>
        </h1>
    {% else %}
        <h1>{% trans "Add a Diaper Change" %}</h1>
    {% endif %}
    {% include 'babybuddy/form.html' %}
{% endblock %}
