{% extends 'mobile-base.html' %}
{% load datetime i18n static %}

{% block page %}
    <div class="form-header {{ theme.color }}">
        <img src="{% static theme.icon %}" />
        <span>{{theme.title}}</span>
    </div>
    
    <form role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {{ field.widget }}
            <div class="row">
                {% include 'babybuddy/form_field.html' %}
            </div>
        {% endfor %}
        <button type="submit" class="submit-primary btn btn-primary btn-lg">{% trans "Submit" %}</button>
    </form> 
{% endblock %}
