{% extends 'babybuddy/page.html' %}
{% load widget_tweaks %}
{% load duration %}

{% block title %}Feedings{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Feedings</li>
{% endblock %}

{% block content %}
    <h1>Feedings</h1>
    {% include 'babybuddy/filter.html' %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Child</th>
                    <th>Method</th>
                    <th>Type</th>
                    <th>Amt.</th>
                    <th>Duration</th>
                    <th>Date</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for feeding in object_list %}
                    <tr>
                        <th scope="row"><a href="{% url 'child' feeding.child.slug %}">{{ feeding.child }}</a></th>
                        <td>{{ feeding.method }}</td>
                        <td>{{ feeding.type }}</td>
                        <td>
                            {% if feeding.amount %}
                                {{ feeding.amount }} oz.
                            {% endif %}
                        </td>
                        <td>{{ feeding.duration|duration_string }}</td>
                        <td>{{ feeding.start|date:'n/j/y G:i' }}</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Actions">

                                {% if perms.core.change_feeding %}
                                    <a href="{% url 'feeding-update' feeding.id %}" class="btn btn-primary">
                                        <i class="icon icon-update" aria-hidden="true"></i>
                                    </a>
                                {% endif %}

                                {% if perms.core.delete_feeding %}
                                    <a href="{% url 'feeding-delete' feeding.id %}" class="btn btn-danger">
                                        <i class="icon icon-delete" aria-hidden="true"></i>
                                    </a>
                                {% endif %}

                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <th colspan="7">No feedings found.</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'babybuddy/paginator.html' %}

    {% if perms.core.add_feeding %}
        <a href="{% url 'feeding-add' %}" class="btn btn-sm btn-success">
            <i class="icon icon-feeding" aria-hidden="true"></i> Add a Feeding
        </a>
    {% endif %}

{% endblock %}