{% extends 'babybuddy/page.html' %}
{% load babybuddy i18n widget_tweaks %}
{% block title %}
    {% trans "Delete a Height Entry" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:height-list' %}">{% trans "Height" %}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Delete" %}</li>
{% endblock %}
{% block content %}
    <form role="form" method="post">
        {% csrf_token %}
        <h1>{% confirm_delete_text object %}</h1>
        <input type="submit" value="{% trans "Delete" %}" class="btn btn-danger" />
        <a href="{% url 'core:height-list' %}" class="btn btn-default">{% trans "Cancel" %}</a>
    </form>
{% endblock %}
