{% extends 'babybuddy/page.html' %}
{% load datetimepicker i18n %}

{% block title %}
    {% if request.resolver_match.url_name == 'note-update' %}
        {% trans "Update a Note" %}
    {% else %}
        {% trans "Add a Note" %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'core:note-list' %}">{% trans "Notes" %}</a></li>
    {% if object %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "Update" %}</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "Add" %}</li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        {% blocktrans trimmed %}
            <h1>Update <span class="text-info">{{ object }}</span></h1>
        {% endblocktrans %}
    {% else %}
        <h1>{% trans "Add a Note" %}</h1>
    {% endif %}
    {% include 'babybuddy/form.html' %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        BabyBuddy.DatetimePicker.init($('#datetimepicker_time'), {
            format: '{% datetimepicker_format %}'
        });
    </script>
{% endblock %}