{% extends 'babyblotter/page.html' %}

{% block title %}
    {% if request.resolver_match.url_name == 'note-update' %}
        Update a Note
    {% else %}
        Add a Note
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'note-list' %}">Notes</a></li>
    {% if object %}
        <li class="breadcrumb-item active" aria-current="page">Update</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">Add</li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        <h1>Update <span class="text-info">{{ object }}</span></h1>
    {% else %}
        <h1>Add a Note</h1>
    {% endif %}
    {% include 'babyblotter/form.html' %}
{% endblock %}