{% extends 'babybuddy/page.html' %}
{% load bootstrap duration i18n widget_tweaks %}

{% block title %}{% trans "Sleep" %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Sleep" %}</li>
{% endblock %}

{% block content %}
    <h1>
        {% trans "Sleep" %}
        {% if perms.core.add_sleep %}
            <a href="{% url 'core:sleep-add' %}" class="btn btn-sm btn-success">
                <i class="icon icon-sleep" aria-hidden="true"></i> {% trans "Add Sleep" %}
            </a>
        {% endif %}
    </h1>
    {% include 'babybuddy/filter.html' %}
    <div class="table-responsive">
        <table class="table table-instances">
            <thead class="thead-inverse">
                <tr>
                    <th>{% trans "Child" %}</th>
                    <th>{% trans "Duration" %}</th>
                    <th>{% trans "Start" %}</th>
                    <th>{% trans "End" %}</th>
                    <th class="text-center">{% trans "Nap" %}</th>
                    <th class="text-center">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for sleep in object_list %}
                    {% cycle "odd" "even" as row_class silent %}
                    <tr class="{{ row_class }}">
                        <th scope="row"><a href="{% url 'core:child' sleep.child.slug %}">{{ sleep.child }}</a></th>
                        <td>{{ sleep.duration|duration_string }}</td>
                        <td>{{ sleep.start }}</td>
                        <td>{{ sleep.end }}</td>
                        <td class="text-center">{{ sleep.nap|bool_icon }}</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="{% trans "Actions" %}">

                                {% if perms.core.change_sleep %}
                                    <a href="{% url 'core:sleep-update' sleep.id %}" class="btn btn-primary">
                                        <i class="icon icon-update" aria-hidden="true"></i>
                                    </a>
                                {% endif %}

                                {% if perms.core.delete_sleep %}
                                    <a href="{% url 'core:sleep-delete' sleep.id %}" class="btn btn-danger">
                                        <i class="icon icon-delete" aria-hidden="true"></i>
                                    </a>
                                {% endif %}

                            </div>
                        </td>
                    </tr>
                    {% if sleep.notes %}
                        <tr class="{{ row_class }} row-details">
                            <td colspan="6"><i class="icon icon-note mr-2" aria-hidden="true"></i>{{ sleep.notes }}</td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                        <th colspan="6">{% trans "No sleep entries found." %}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'babybuddy/paginator.html' %}
{% endblock %}