{% extends 'babybuddy/page.html' %}
{% load datetime i18n widget_tweaks %}
{% block title %}
    {% trans "Temperature" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Temperature" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Temperature" %}
        {% if perms.core.add_temperature %}
            <a href="{% url 'core:temperature-add' %}"
               class="btn btn-sm btn-success">
                <i class="icon-temperature" aria-hidden="true"></i> {% trans "Add Temperature Reading" %}
            </a>
        {% endif %}
    </h1>
    {% include 'babybuddy/filter.html' %}
    <div class="table-responsive">
        <table class="table table-instances table-borderless table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>{% trans "Actions" %}</th>
                    <th>{% trans "Time" %}</th>
                    {% if not unique_child %}
                        <th>{% trans "Child" %}</th>
                    {% endif %}
                    <th>{% trans "Temperature" %}</th>
                    <th>{% trans "Tags" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for temperature in object_list %}
                    <tr>
                        <td>
                            <div class="btn-group btn-group-sm"
                                 role="group"
                                 aria-label="{% trans "Actions" %}">
                                {% if perms.core.change_temperature %}
                                    <a href="{% url 'core:temperature-update' temperature.id %}"
                                       class="btn btn-primary">
                                        <i class="icon-update" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                                {% if perms.core.delete_temperature %}
                                    <a href="{% url 'core:temperature-delete' temperature.id %}"
                                       class="btn btn-danger">
                                        <i class="icon-delete" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                        <th scope="row">{{ temperature.time|datetime_short }}</th>
                        {% if not unique_child %}
                            <td>
                                <a href="{% url 'core:child' temperature.child.slug %}">{{ temperature.child }}</a>
                            </td>
                        {% endif %}
                        <td>{{ temperature.temperature }}</td>
                        <td>{% include "core/render_tag_list.html" with tags=temperature.tags.all %}</td>
                    </tr>
                    {% if temperature.notes %}
                        <tr class="{{ row_class }} row-details">
                            <td colspan="5">
                                <i class="icon-note me-2" aria-hidden="true"></i>{{ temperature.notes }}
                            </td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                        <th colspan="5">{% trans "No temperature entries found." %}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'babybuddy/paginator.html' %}
{% endblock %}
