<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       id="timer-dropdown-menu-link"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false"><i class="fa fa-clock-o" aria-hidden="true"></i> Timers</a>
    <div class="dropdown-menu" aria-labelledby="timer-dropdown-menu-link">
        {% if perms.core.add_timer %}
            <a class="dropdown-item" href="{% url 'timer-add-quick' %}">
                <i class="fa fa-plus" aria-hidden="true"></i> Create Timer
            </a>
            {% if timers %}
                <div class="dropdown-divider"></div>
            {% endif %}
        {% endif %}
        {% for timer in timers %}
            <a class="dropdown-item" href="{% url 'timer-detail' timer.id %}">{{ timer }}</a>
        {% endfor %}
    </div>
</li>