<li class="nav-item dropdown">
    <a id="nav-timer-menu-link"
       class="nav-link dropdown-toggle"
       href="#"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false"><i class="fa fa-clock-o" aria-hidden="true"></i> Timers</a>
    <div class="dropdown-menu" aria-labelledby="nav-timer-menu-link">
        {% if perms.core.add_timer %}
            <a class="dropdown-item" href="{% url 'timer-add-quick' %}">
                <i class="fa fa-clock-o" aria-hidden="true"></i> Quick Start Timer
            </a>
            <a class="dropdown-item" href="{% url 'timer-add' %}">
                <i class="fa fa-plus" aria-hidden="true"></i> Start Timer
            </a>
        {% endif %}
        {% if perms.core.view_timer %}
            <a class="dropdown-item" href="{% url 'timer-list' %}">
                <i class="fa fa-list" aria-hidden="true"></i> View Timers
            </a>
        {% endif %}
        {% if timers %}
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Active Timers</h6>
            {% for timer in timers %}
                <a class="dropdown-item" href="{% url 'timer-detail' timer.id %}">{{ timer }} ({{ timer.user }})</a>
            {% empty %}
                <a class="dropdown-item disabled" href="#">None</a>
            {% endfor %}
        {% endif %}
    </div>
</li>