<div class="card border-primary text-center mb-2">
    <div class="card-header text-white bg-primary ">New Timer</div>
    <div class="card-body text-primary">
        <form action="{% url 'timer-add' %}" class="form-inline" role="form" method="post">
            {% csrf_token %}
            <input type="hidden" name="success_url" value="{{ success_url }}" />
            <div class="input-group input-group-sm">
                <input name="name" value="" class="form-control" id="id_name" maxlength="255" type="text" placeholder="Timer Name (optional)">
                <button type="submit" class="input-group-addon btn btn-primary">Start</button>
            </div>
        </form>
    </div>
</div>