{% extends 'babybuddy/page.html' %}
{% load bootstrap duration widget_tweaks %}

{% block title %}Timers{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Timers</li>
{% endblock %}

{% block content %}
    <h1>Timers</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>Duration</th>
                <th>End</th>
                <th>Active</th>
                <th>User</th>
            </tr>
            </thead>
            <tbody>
            {% for timer in object_list %}
                <tr>
                    <th scope="row"><a href="{% url 'timer-detail' timer.id %}">{{ timer }}</a></th>
                    <td>{{ timer.start|date:'n/j/y G:i' }}</td>
                    <td>{{ timer.duration|duration_string }}</td>
                    <td>{{ timer.end|date:'n/j/y G:i' }}</td>
                    <td>{{ timer.active|bool_icon }}</td>
                    <td>{{ timer.user }}</td>
                </tr>
            {% empty %}
                <tr>
                    <th colspan="7">No timer entries found.</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'babybuddy/paginator.html' %}
    </div>
{% endblock %}