{% extends 'babyblotter/page.html' %}
{% load timers %}
{% load duration %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1 id="timer-status" class="display-1">
            <span class="timer-hours">{{ object.current_duration|hours }}</span>h
            <span class="timer-minutes">{{ object.current_duration|minutes }}</span>m
            <span class="timer-seconds">{{ object.current_duration|seconds }}</span>s
        </h1>
        <p class="lead text-muted">Started {{ object.start }} by {{ object.user }}</p>

        {% if perms.core.add_feeding %}
            <a class="btn btn-success btn-lg btn-block p-3 mb-3"
               href="{% url 'feeding-add' %}?timer={{ timer.id }}"
               role="button"><i class="fa fa-spoon" aria-hidden="true"></i> Feeding</a>
        {% endif %}

        {% if perms.core.add_sleep %}
            <a class="btn btn-success btn-lg btn-block p-3 mb-3"
               href="{% url 'sleep-add' %}?timer={{ timer.id }}"
               role="button"><i class="fa fa-bed" aria-hidden="true"></i> Sleep</a>
        {% endif %}

        {% if perms.core.add_tummytime %}
            <a class="btn btn-success btn-lg btn-block p-3 mb-3"
               href="{% url 'tummytime-add' %}?timer={{ timer.id }}"
               role="button"><i class="fa fa-smile-o" aria-hidden="true"></i> Tummy Time</a>
        {% endif %}

        {% if perms.core.delete_timer %}
            <a class="btn btn-danger btn-lg btn-block p-3 mb-3"
               href="{% url 'timer-delete' timer.id %}"
               role="button"><i class="fa fa-times-circle" aria-hidden="true"></i> Delete Timer</a>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        BabyBlotter.Timer.run('timer-status');
    </script>
{% endblock %}