{% extends 'babybuddy/page.html' %}
{% load i18n widget_tweaks %}
{% block title %}
    {% trans "Weight" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Weight" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Weight" %}
        {% if perms.core.add_weight %}
            <a href="{% url 'core:weight-add' %}" class="btn btn-sm btn-success">
                <i class="icon-weight" aria-hidden="true"></i> {% trans "Add Weight" %}
            </a>
        {% endif %}
    </h1>
    {% include 'babybuddy/filter.html' %}
    <div class="table-responsive">
        <table class="table table-instances table-borderless table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>{% trans "Actions" %}</th>
                    <th>{% trans "Date" %}</th>
                    {% if not unique_child %}
                        <th>{% trans "Child" %}</th>
                    {% endif %}
                    <th>{% trans "Weight" %}</th>
                    <th>{% trans "Tags" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for weight in object_list %}
                    <tr>
                        <td>
                            <div class="btn-group btn-group-sm"
                                 role="group"
                                 aria-label="{% trans "Actions" %}">
                                {% if perms.core.change_weight %}
                                    <a href="{% url 'core:weight-update' weight.id %}"
                                       class="btn btn-primary">
                                        <i class="icon-update" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                                {% if perms.core.delete_weight %}
                                    <a href="{% url 'core:weight-delete' weight.id %}"
                                       class="btn btn-danger">
                                        <i class="icon-delete" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                        <th scope="row">{{ weight.date }}</th>
                        {% if not unique_child %}
                            <td>
                                <a href="{% url 'core:child' weight.child.slug %}">{{ weight.child }}</a>
                            </td>
                        {% endif %}
                        <td>{{ weight.weight }}</td>
                        <td>{% include "core/render_tag_list.html" with tags=weight.tags.all %}</td>
                    </tr>
                    {% if weight.notes %}
                        <tr class="{{ row_class }} row-details">
                            <td colspan="5">
                                <i class="icon-note me-2" aria-hidden="true"></i>{{ weight.notes }}
                            </td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                        <th colspan="5">{% trans "No weight entries found." %}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'babybuddy/paginator.html' %}
{% endblock %}
