<div>
{{ widget }}
</div>

<div class="form_control" 
    {% for k, v in widget.attrs.items %}
        {{ k }}={{ v }}
    {% endfor %}>
    <span class="prototype-tag btn badge badge-pill cursor-pointer" style="display: none;">
        PROTOTYPE
        <span class="add-remove-icon pl-1 pr-1">+ or -</span>
    </span>
    <div class="current_tags" style="min-height: 2em;">
        {% for t in widget.value %}
        <span data-value="{{ t.name }}" data-color="{{ t.color }}" class="tag btn badge badge-pill cursor-pointer" style="background-color: {{ t.color }};">
            {{ t.name }}
            <span class="add-remove-icon pl-1 pr-1">-</span>
        </span>
        {% endfor %}
    </div>
    <div class="new-tags">
        <span>Suggestions:</span>
        {% for t in widget.tag_suggestions.quick %}
        <span data-value="{{ t.name }}" data-color="{{ t.color }}" class="tag btn badge badge-pill cursor-pointer" style="background-color: {{ t.color }};">
            {{ t.name }}
            <span class="add-remove-icon pl-1 pr-1">+</span>
        </span>
        {% endfor %}
    </div>
    <input 
        type="hidden"
        name="tags"
        value="{% for t in widget.value %}&quot;{{ t.name }}&quot;{% if not forloop.last %},{% endif %}{% endfor %}"
    >
<script>
        window.addEventListener('load', () => {
            const widget = document.getElementById('{{ widget.attrs.id }}');
            
            const prototype = widget.querySelector('.prototype-tag');
            const currentTags = widget.querySelector('.current_tags');
            const newTags = widget.querySelector('.new-tags');

            const inputElement = widget.querySelector('input');

            function hexParse(x) {
                return parseInt(x, 16);
            }

            function computeComplementaryColor(colorStr) {
                let avgColor = 0.0;
                avgColor += hexParse(colorStr.substring(1, 3)) * -0.5;
                avgColor += hexParse(colorStr.substring(3, 5)) * 1.5;
                avgColor += hexParse(colorStr.substring(5, 7)) * 1.0;

                console.log(`C ${colorStr} -> ${avgColor}`);

                if (avgColor > 200) {
                    return "#101010";
                } else {
                    return "#E0E0E0";
                }
            }

            function updateTag(tag, name, color, actionSymbol) {
                const actionTextNode = tag.querySelector('.add-remove-icon').childNodes[0];

                name = name || tag.getAttribute("data-value");
                color = color || tag.getAttribute("data-color");
                actionSymbol = actionSymbol || actionTextNode.textContent;

                tag.childNodes[0].textContent = name;
                tag.setAttribute("data-value", name);
                tag.setAttribute("data-color", color);

                const textColor = computeComplementaryColor(color);
                tag.setAttribute('style', `background-color: ${color}; color: ${textColor};`);
                actionTextNode.textContent = actionSymbol;
            }

            function createNewTag(name, color, actionSymbol) {
                const tag = prototype.cloneNode(true);
                updateTag(tag, name, color, actionSymbol);
                return tag;
            }

            function registerNewCallback(tag, newParent, newSymbol, onClicked) {
                function callback(event) {
                    tag.parentNode.removeChild(tag);
                    updateTag(
                        tag,
                        null,
                        tag.getAttribute("data-color"),
                        newSymbol
                    );
                    newParent.appendChild(tag);

                    tag.removeEventListener('click', callback);
                    onClicked(tag);
                }
                tag.addEventListener('click', callback);
            }

            function updateInputList() {
                const names = [];
                for (const tag of currentTags.querySelectorAll(".tag")) {
                    const name = tag.getAttribute("data-value");
                    names.push(`"${name}"`);
                }
                inputElement.value = names.join(",");
            }

            function addTagCallback(tag) {
                registerNewCallback(tag, currentTags, "-", removeTagCallback);
                updateInputList();
            }

            function removeTagCallback(tag) {
                registerNewCallback(tag, newTags, "+", addTagCallback);
                updateInputList();
            }

            for (const tag of newTags.querySelectorAll(".tag")) {
                updateTag(tag);
                addTagCallback(tag);
            }
            for (const tag of currentTags.querySelectorAll(".tag")) {
                updateTag(tag);
                removeTagCallback(tag);
            }
        });
    </script>
</div>
