{% extends 'error/base.html' %}
{% load i18n %}
{% block title %}403 {{ title }}{% endblock %}
{% block breadcrumb_nav %}{% endblock %}
{% block content %}
    <h1>403: {{ title }}</h1>
    <div class="alert alert-danger" role="alert">{{ main }} {{ reason }}</div>
    <div class="px-2 py-5 bg rounded-3">
        <div class="container-fluid">
            <h2>{% trans "How to Fix" %}</h2>
            {% blocktrans trimmed with value="<samp>"|add:origin|add:"</samp>"|safe variable="<code>CSRF_TRUSTED_ORIGINS</code>"|safe %}
            Add {{ value }} to the {{ variable }} environment variable. If multiple origins are required separate with commas.
        {% endblocktrans %}
    </div>
</div>
{% endblock %}
