{% extends "error/base.html" %}
{% load i18n %}
{% block title %}403 {{ title }}{% endblock %}
{% block breadcrumb_nav %}{% endblock %}
{% block content %}
    <h1>403: {{ title }}</h1>
    <div class="alert alert-danger" role="alert">{{ main }} {{ reason }}</div>
    <div class="px-2 py-5 bg rounded-3">
        <div class="container-fluid">
            <h2>{% trans "How to Fix" %}</h2>
            {% with escaped_origin=origin|escape %}
                {% with formatted_origin="<samp>"|add:escaped_origin|add:"</samp>" %}
                {% blocktrans trimmed with value=formatted_origin|safe variable="<code>CSRF_TRUSTED_ORIGINS</code>"|safe %}
                Add {{ value }} to the {{ variable }} environment variable. If multiple origins are required separate with commas.
            {% endblocktrans %}
{% endwith %}
{% endwith %}
</div>
</div>
{% endblock %}
