{% load static djng_tags %}

<!doctype html>
<html lang="en">
<head>
	<title>{% block form_title %}Baby Blotter{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
    <link href="{% static 'djng/css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'djng/css/bootstrap3.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.js"></script>
</head>

<body>
	<header class="navbar navbar-static-top navbar-inverse">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="navbar-brand">Baby Blotter<small style="margin-left: 3em;">Tracking literal shit.</small></h1>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<nav class="col-md-3" style="margin-top: 65px;" role="navigation">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="{% url 'baby_add' %}">Add Baby</a>
					</li>
				</ul>
			</nav>
			<main class="col-md-9">
			{% block content %}{% endblock %}
			</main>
		</div>
	</div>
</body>
</html>