{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | Baby Blotter</title>
    <link rel="stylesheet" href="{% static "babyblotter/css/vendor.css" %}" />
</head>
<body style="padding-top: 5rem;">

{% block nav %}{% endblock %}
{% block page %}{% endblock %}

<script src="{% static "babyblotter/js/vendor.js" %}"></script>
<script src="{% static "babyblotter/js/app.js" %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>