{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | Baby Blotter</title>
    {% if debug %}
        <link rel="stylesheet" href="{% static "babyblotter/css/app.css" %}" />
        <link rel="stylesheet" href="{% static "babyblotter/css/vendor.css" %}" />
    {% else %}
        <link rel="stylesheet" href="{% static "babyblotter/css/app.min.css" %}" />
        <link rel="stylesheet" href="{% static "babyblotter/css/vendor.min.css" %}" />
    {% endif %}
</head>
<body style="padding-top: 3rem;">

{% block nav %}{% endblock %}

{% block breadcrumb_nav %}
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            {% block breadcrumbs %}{% endblock %}
        </ol>
    </nav>
{% endblock %}

{% block page %}{% endblock %}

{% if debug %}
    <script src="{% static "babyblotter/js/vendor.js" %}"></script>
    <script src="{% static "babyblotter/js/app.js" %}"></script>
{% else %}
    <script src="{% static "babyblotter/js/vendor.min.js" %}"></script>
    <script src="{% static "babyblotter/js/app.min.js" %}"></script>
{% endif %}

{% block javascript %}{% endblock %}
</body>
</html>