{% extends 'babyblotter/page.html' %}
{% load dashboard %}

{% block title %}Dashboard - {{ object }}{% endblock %}

{% block content %}

    <div class="bg-light text-dark rounded text-center pb-2">
        <h1 class="display-4">{{ object }}</h1>

        <div class="dropdown">
            <button id="reports-dropdown"
                    class="btn btn-success dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"><i class="icon icon-graph" aria-hidden="true"></i> Reports</button>
            <div class="dropdown-menu" aria-labelledby="reports-dropdown">
                <a class="dropdown-item" href="{% url 'reports:report-diaperchange-types-child' object.slug %}">Diaper Change Types</a>
                <a class="dropdown-item" href="{% url 'reports:report-sleep-pattern-child' object.slug %}">Sleep Pattern</a>
                <a class="dropdown-item" href="{% url 'reports:report-sleep-totals-child' object.slug %}">Sleep Totals</a>
                <a class="dropdown-item" href="{% url 'reports:report-timeline-child' object.slug %}">Timeline</a>
            </div>
        </div>
    </div>

    <div class="row align-items-start mt-4">
        <div class="col-lg-4 col-md-6 col-sm-12">
            {% card_feeding_last object %}
            {% card_feeding_last_method object %}
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            {% card_sleep_last object %}
            {% card_sleep_day object %}
            {% card_tummytime_day object %}
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            {% card_diaperchange_last object %}
            {% card_diaperchange_types object %}
        </div>
    </div>
{% endblock %}