{% load i18n %}

<div class="child-actions btn-group btn-group-md center-block" role="group" aria-label="{% trans "Child actions" %}">

    {% if perms.core.view_child %}
        <a href="{% url 'dashboard:dashboard-child' object.slug %}" class="btn btn-success">
            <i class="icon icon-dashboard" aria-hidden="true"></i>
        </a>
    {% endif %}

    <div class="btn-group" role="group">
        <button id="reports-dropdown"
                class="btn btn-primary dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"><i class="icon icon-graph" aria-hidden="true"></i></button>
        <div class="dropdown-menu" aria-labelledby="reports-dropdown">
            <a class="dropdown-item" href="{% url 'reports:report-diaperchange-amounts-child' object.slug %}">{% trans "Diaper Change Amounts" %}</a>
            <a class="dropdown-item" href="{% url 'reports:report-diaperchange-types-child' object.slug %}">{% trans "Diaper Change Types" %}</a>
            <a class="dropdown-item" href="{% url 'reports:report-diaperchange-lifetimes-child' object.slug %}">{% trans "Diaper Lifetimes" %}</a>
            <a class="dropdown-item" href="{% url 'reports:report-feeding-amounts-child' object.slug %}">{% trans "Feeding Amounts" %}</a>
            <a class="dropdown-item" href="{% url 'reports:report-feeding-duration-child' object.slug %}">{% trans "Feeding Durations (Average)" %}</a>
            <a class="dropdown-item" href="{% url 'reports:report-sleep-pattern-child' object.slug %}">{% trans "Sleep Pattern" %}</a>
            <a class="dropdown-item" href="{% url 'reports:report-sleep-totals-child' object.slug %}">{% trans "Sleep Totals" %}</a>
            <a class="dropdown-item" href="{% url 'reports:report-weight-weight-child' object.slug %}">{% trans "Weight" %}</a>
        </div>
    </div>

    {% if perms.core.change_child %}
        <a class="btn btn-warning"
           href="{% url 'core:child-update' object.slug %}"
           role="button"><i class="icon icon-update" aria-hidden="true"></i></a>
    {% endif %}

    {% if perms.core.delete_child %}
        <a class="btn btn-danger"
           href="{% url 'core:child-delete' object.slug %}"
           role="button"><i class="icon icon-delete" aria-hidden="true"></i></a>
    {% endif %}

</div>