{% extends 'babyblotter/page.html' %}
{% load dashboard %}

{% block title %}Dashboard - {{ object }}{% endblock %}

{% block content %}

    <div class="bg-light text-dark rounded text-center pb-2">
        <h1 class="display-4">{{ object }}</h1>

        <div class="dropdown">
            <button id="reports-dropdown"
                    class="btn btn-success dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"><i class="fa fa-bar-chart" aria-hidden="true"></i> Reports</button>
            <div class="dropdown-menu" aria-labelledby="reports-dropdown">
                {% if perms.core.view_diaperchange %}
                    <a class="dropdown-item" href="{% url 'reports:report-diaperchange-child' object.slug %}">
                        <i class="fa fa-trash" aria-hidden="true"></i> Changes</a>
                {% endif %}
            {% if perms.core.view_sleep %}
                    <a class="dropdown-item" href="{% url 'reports:report-sleep-child' object.slug %}">
                        <i class="fa fa-bed" aria-hidden="true"></i> Sleep</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row align-items-start mt-4">
        <div class="col-lg-4 col-md-6 col-sm-12">
            {% card_feeding_last object %}
            {% card_feeding_last_method object %}
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            {% card_sleep_last object %}
            {% card_tummytime_day object %}
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            {% card_diaperchange_last object %}
            {% card_diaperchange_types object %}
        </div>
    </div>
{% endblock %}