{% extends 'cards/base.html' %}
{% load duration i18n %}
{% block header %}
    <a href="{% url "core:diaperchange-list" %}">{% trans "Last Diaper Change" %}</a>
{% endblock %}
{% block title %}
    {% if change %}
        <div>
            {% blocktrans trimmed with time_ago=change.time|deltasince|duration_string:'m' %}
                {{ time_ago }} ago
            {% endblocktrans %}
        </div>
        <small>{{ change.time|time }}</small>
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if change %}{{ change.attributes|join:', ' }}{% endif %}
    {% if can_add %}
        <div class="mt-2">
            <a class="btn btn-sm btn-dashboard-add-link p-0 text-decoration-none"
               href="{% url 'core:diaperchange-add' %}?child={{ child.slug }}">
                <i class="icon-add" aria-hidden="true"></i> {% trans "Add Diaper Change" %}
            </a>
        </div>
    {% endif %}
{% endblock %}
