{% extends 'cards/base.html' %}
{% load i18n %}

{% block header %}{% trans "Diaper Changes" %}{% endblock %}

{% block title %}
    {% if total == 0 %}
        {% trans "None" %}
    {% else %}
        {% trans "Past Week" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% for key, info in stats.items %}
        {% if info.wet > 0 or info.solid > 0 %}
            <div class="progress mt-3">

                {% if info.wet_pct > 0 %}
                    <div class="progress-bar bg-primary lead"
                         role="progressbar"
                         style="width: {{ info.wet_pct|safe }}%;">{{ info.wet|floatformat:'0' }}&nbsp;{% trans "wet" %}</div>
                {% endif %}

                {% if info.solid_pct > 0 %}
                    <div class="progress-bar bg-secondary lead"
                         role="progressbar"
                         style="width: {{ info.solid_pct|safe }}%;">
                        {{ info.solid|floatformat:'0' }}&nbsp;{% trans "solid" %}</div>
                {% endif %}
            </div>
            <div class="text-center text-light small">
                {% if key == 0  %}
                    {% trans "today" %}
                {% elif key == 1 %}
                    {% trans "yesterday" %}
                {% else %}
                    {% blocktrans %}{{ key }} days ago{% endblocktrans %}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}