{% extends 'cards/diaperchange.html' %}

{% block header %}Diaper Change Types{% endblock %}

{% block title %}
    <strong>Past 5 Days</strong>
{% endblock %}

{% block content %}
    {% for date, info in stats.items %}
        <div class="progress mt-3">
            <div class="progress-bar bg-info lead"
                 role="progressbar"
                 style="width: {{ info.wet_pct }}%; height: 30px; line-height: 30px">{{ info.wet }} wet</div>
            <div class="progress-bar bg-dark lead"
                 role="progressbar"
                 style="width: {{ info.solid_pct }}%; height: 30px; line-height: 30px">
                <strong>{{ info.solid }}</strong> solid</div>
        </div>
        <div class="text-center text-dark small">
            {{ date|date:'D' }}
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}Last change: {{ last_change.time }}{% endblock %}