{% extends 'cards/base.html' %}
{% load duration i18n %}
{% block header %}
    <a href="{% url "core:diaperchange-list" %}">{% trans "Last Diaper Change" %}</a>
{% endblock %}
{% block title %}
    {% if change %}
        <div>
            {% blocktrans trimmed with time_ago=change.time|deltasince|duration_string:'m' %}
                {{ time_ago }} ago
            {% endblocktrans %}
        </div>
        <small>{{ change.time|time }}</small>
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if change %}{{ change.attributes|join:', ' }}{% endif %}
{% endblock %}
