{% extends 'cards/base.html' %}
{% load i18n %}

{% block header %}
    <a href="{% url "core:diaperchange-list" %}">
        {% trans "Last Diaper Change" %}
    </a>
{% endblock %}

{% block title %}
    {% if change %}
        {% blocktrans trimmed with since=change.time|timesince time=change.time|time %}
            <div>{{ since }} ago</div>
            <small>{{ time }}</small>
        {% endblocktrans %}
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if change %}{{ change.attributes|join:', ' }}{% endif %}
{% endblock %}