{% extends 'cards/base.html' %}
{% load duration i18n %}
{% block header %}
    <a href="{% url "core:feeding-list" %}">{% trans "Last Feeding" %}</a>
{% endblock %}
{% block title %}
    {% if feeding %}
        <div>
            {% blocktrans trimmed with time_ago=feeding.start|deltasince|duration_string:'m' %}
                {{ time_ago }} ago
            {% endblocktrans %}
        </div>
        <small>{{ feeding.start|time }}</small>
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if feeding %}
        {{ feeding.get_type_display }}, {{ feeding.get_method_display }}
        {% if feeding.amount %}({{ feeding.amount }}){% endif %}
    {% endif %}
{% endblock %}
