<div class="card card-feeding border-primary mb-3">
    <div class="card-header text-white bg-primary h4">
        <i class="fa fa-spoon pull-left" aria-hidden="true"></i>
        {% block header %}{% endblock %}
    </div>
    <div class="card-body text-primary">
        <h4 class="card-title">{% block title %}{% endblock %}</h4>
        <div class="card-text">{% block content %}{% endblock %}</div>
    </div>
    <div class="card-footer text-muted">
        {% block footer %}{% endblock %}
    </div>
</div>