{% extends 'cards/base.html' %}
{% load duration i18n %}
{% block header %}
    <a href="{% url "core:pumping-list" %}">{% trans "Last Pumping" %}</a>
{% endblock %}
{% block title %}
    {% if pumping %}
        <div>
            {% blocktrans trimmed with time_ago=pumping.start|deltasince|duration_string:'m' %}
                {{ time_ago }} ago
            {% endblocktrans %}
        </div>
        <small>{{ pumping.start|time }}</small>
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if pumping %}
        {% trans "Amount" %}: {{ pumping.amount }}
    {% endif %}
{% endblock %}
