{% extends 'cards/base.html' %}
{% load duration %}

{% block header %}Today's Naps <small><em>(7AM - 7PM)</em></small>{% endblock %}

{% block title %}
    {% if count %}
        <strong>{{ count }}</strong> nap{{ count|pluralize }}
    {% else %}
        <i class="icon icon-sad" aria-hidden="true"></i>
        <strong>None yet today</strong>
        <i class="icon icon-sad" aria-hidden="true"></i>
    {% endif %}
{% endblock %}

{% block content %}
    {% if total.duration__sum %}{{ total.duration__sum|duration_string }}{% endif %}
{% endblock %}