{% extends 'cards/base.html' %}
{% load duration i18n %}

{% block header %}
    <a href="{% url "core:sleep-list" %}">
        {% trans "Last Sleep" %}
    </a>
{% endblock %}

{% block title %}
    {% if sleep %}
        {% blocktrans trimmed with since=sleep.end|timesince time=sleep.end|time %}
            <div>{{ since }} ago</div>
            <small>{{ time }}</small>
        {% endblocktrans %}
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}

{% block content %}{{ sleep.duration|duration_string }}{% endblock %}