{% extends 'cards/base.html' %}
{% load duration i18n %}
{% block header %}
    <a href="{% url "core:sleep-list" %}">{% trans "Last Sleep" %}</a>
{% endblock %}
{% block title %}
    {% if sleep %}
        <div>
            {% blocktrans trimmed with time_ago=sleep.end|deltasince|duration_string:'m' %}
                {{ time_ago }} ago
            {% endblocktrans %}
        </div>
        <small>{{ sleep.end|time }}</small>
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block content %}{{ sleep.duration|duration_string }}{% endblock %}
