{% extends 'cards/base.html' %}
{% load duration i18n %}
{% block header %}
    <a href="{% url "core:sleep-list" %}">{% trans "Today's Naps" %}</a>
{% endblock %}
{% block title %}
    {% if count %}
        {% blocktrans trimmed count counter=count %}
            {{ count }} nap
        {% plural %}
            {{ count }} naps
        {% endblocktrans %}
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if total %}{{ total|duration_string }}{% endif %}
{% endblock %}
