<div class="card card-timer border-secondary mb-3">
    <div class="card-header text-white bg-secondary h4">
        <i class="icon icon-timer pull-left" aria-hidden="true"></i>
        {% block header %}{% endblock %}
    </div>
    <div class="card-body text-secondary">
        <h4 class="card-title">{% block title %}{% endblock %}</h4>
        <div class="card-text">{% block content %}{% endblock %}</div>
    </div>
    {% block listgroup %}{% endblock %}
    <div class="card-footer text-muted">
        {% block footer %}{% endblock %}
    </div>
</div>