{% extends 'cards/base.html' %}
{% load i18n %}

{% block header %}{% trans "Active Timers" %}{% endblock %}

{% block title %}
    {% with instances|length as count %}
        {% blocktrans %}{{ count }} active timer{{ count|pluralize }}{% endblocktrans %}
    {% endwith %}
{% endblock %}

{% block listgroup %}
    <ul class="list-group list-group-flush">
    {% for instance in instances %}
        <a href="{% url 'core:timer-detail' instance.id %}"
           class="list-group-item list-group-item-action">
            <strong>{{ instance }}</strong>
            <p class="text-muted small m-0">
                {% blocktrans %}Started by {{ instance.user }} at {{ instance.start|time }}{% endblocktrans %}
            </p>
        </a>
    {% endfor %}
    </ul>
{% endblock %}