{% extends 'cards/base.html' %}
{% load i18n %}
{% block header %}
    <a href="{% url "core:timer-list" %}">{% trans "Timers" %}</a>
{% endblock %}
{% block title %}
    {% with instances|length as count %}
        {% blocktrans trimmed count counter=count %}
            {{ count }} timer
        {% plural %}
            {{ count }} timers
        {% endblocktrans %}
    {% endwith %}
{% endblock %}
{% block listgroup %}
    <ul class="list-group list-group-flush">
        {% for timer in instances %}
            <a href="{% url 'core:timer-detail' timer.id %}"
               class="list-group-item list-group-item-action">
                <strong>{{ timer.title_with_child }}</strong>
                <p class="text-body-secondary small m-0">
                    {% blocktrans trimmed with start=timer.start|time user=timer.user_username %}
                        Started by {{ user }} at {{ start }}
                    {% endblocktrans %}
                </p>
            </a>
        {% endfor %}
    </ul>
{% endblock %}
