{% extends 'cards/base.html' %}
{% load duration i18n %}

{% block header %}
    <a href="{% url "core:tummytime-list" %}">
        {% trans "Last Tummy Time" %}
    </a>
{% endblock %}


{% block title %}
    {% if tummytime %}
        {% blocktrans trimmed with since=tummytime.time|timesince time=tummytime.time|time %}
            <div>{{ since }} ago</div>
            <small>{{ time }}</small>
        {% endblocktrans %}
    {% else %}
        {% trans "Never" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if tummytime %}
        {{ tummytime.duration|duration_string }}
        {% if tummytime.milestone %}
            <br /> {{ tummytime.milestone }}
        {% endif %}
    {% endif %}
{% endblock %}