name: CI
on:
  push:
    branches:
      - master
      - v2
  pull_request:
    branches:
      - master
      - v2
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.7', '3.8', '3.9', '3.10' ]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}
      - run: |
          npm install -g gulp-cli
          npm install
          gulp lint
          gulp coverage
      - name: Submit results to Coveralls
        uses: AndreMiras/coveralls-python-action@develop
        with:
          github-token: ${{ secrets.github_token }}
          flag-name: test-python-${{ matrix.python-version }}
          parallel: true
  coveralls-finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: AndreMiras/coveralls-python-action@develop
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
  deploy-docs:
    needs: test
    runs-on: ubuntu-latest
    environment:
      name: documentation
      url: https://docs.baby-buddy.net
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v3
      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
          REQUIREMENTS: docs/requirements.txt
#  deploy-demo:
#    needs: test
#    runs-on: ubuntu-latest
#    environment:
#      name: demo
#      url: https://demo.baby-buddy.net
#    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
#    steps:
#      - uses: actions/checkout@v3
#      - uses: ./.github/actions/setup
#      - name: Install Railway CLI
#        run: npm i -g @railway/cli
#      - name: Deploy demo
#        run: npx railway up
#        env:
#          DJANGO_SETTINGS_MODULE: babybuddy.settings.railway
#          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
